{% extends 'base.html' %}

{% block content %}

<h1>Adding a job</h1>
<div style="background-color: #F77368;" id="warnings">
    {% for i in warnings %}
    <label>{{ i }}</label><br>
    {% endfor %}
</div>
<div align="center">
    <form method="post" action="">
        {{ form.job.label }}
        {{ form.job(value=data[0]) }}<br>

        {{ form.team_leader.label }}
        {{ form.team_leader(value=data[1]) }}<br>

        {{ form.work_size.label }}
        {{ form.work_size(value=data[2]) }}<br>

        {{ form.collaborators.label }}
        {{ form.collaborators(value=data[3]) }}<br>

        {{ form.end_date.label }}
        {{ form.end_date(value=data[4]) }}<br>

        {{ form.is_finished.label }}
        {{ form.is_finished(value=data[5]) }}<br>

        {{ form.submit(class='btn btn-primary', type='submit') }}
    </form>
</div>

{% endblock %}
